* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  align-content: center;
}

header {
  display: flex;
  padding: 20px 20px 20px;
  align-items: baseline;
}

.logo {
  padding: 10px;
  width: 120px;
  height: auto;
}

.display_logo {
  color: #64004b;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;
  margin: 15px 15px 15px;
}

.display_logo a {
  color: #64004b;
  text-decoration: none;
}

.display_logo:hover {
  transform: scale(1.2);
}

a.btn_sair{
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #b31e1e;
  position: absolute;
  color: #fff;
  top: 5%;
  text-decoration: none;
  right: 15%;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000079;
  z-index: 888;
  top: 0;
}

.overlay.show {
  display: block;
}

/* Barra lateral - Carrinho */
  .sidebar {
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: -39%;
    background-color: #ffe9e9;
    height: 100%;
    vertical-align: middle;
    transition: 0.2s;
  }

  .sidebar.show {
    left: 0;
    transition: 0.2s;
  }

  .lupa{
    padding: 10px 12px;
    font-size: 30px;
    position: fixed;
    top: 50%;
    margin-left: 42%;
    background-color: #ffe9e9;
    border-radius: 8px;
    color: #000000;
    border: none;
  }

  .lupa:hover{
    cursor: pointer;
  }

  .busca-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sidebar h2 {
    font-size: 25px;
  }

  .buscar-item {
    padding: 6px 12px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #64004b;
    color: #ffffff;
  }

  .buscar-item:hover {
    cursor: pointer;
    color: #cacaca;
    box-shadow: 3px 3px 5px #0000003b;
  }

  .close-btn {
    padding: 8px 12px;
    background-color: #7e0000;
    border: none;
    color: #ddd;
    margin-top: 15px;
    margin-left: 90%;
    margin-bottom: 50px;
    border-radius: 8px;
  }

  .close-btn:hover {
    cursor: pointer;
  }

  .sidebar input {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 90%;
  }

  .select_prdsrv {
    padding: 8px 10px;
    font-size: 20px;
    background-color: #72c7ab;
    color: #000000;
    border: none;
    border-radius: 8px;
    margin: 25px;
  }

  .select_prdsrv option{
    border: none;
  }

  .cart-add {
    font-size: 22px;
    color: #ffffff;
    padding: 5px 8px;
    background-color: #1c8b00;
    border: none;
    border-radius: 8px;
  }

  .cart-add:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000059;
  }

    /* Tabela carrinho */

    .table_container {
      margin-top: 30px;
      width: 90%;
    }

    .cart-table{
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    }
    
    .cart-table th, .cart-table td.item {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    .cart-table th {
      background-color: #f0f0f0;
    }

    .spec p{
      display: block;
      line-height: 20px !important;
    }

    .ct-input {
      width: 60px !important;
    }


/* Menu Principal */
header nav {
  margin-top: 10px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  background-color: #b444b891;
  border-radius: 10px;
  width: 450px;
  height: 60px;
  color: white;
  display: flex;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
}

.menu a:hover {
  color: #4c00ff52;
  transform: scale(1.1);
  transition: 0.2s;
}

/* Section Geral */

.cad-login section {
  background-color: #ffe9fa;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.cad-login input {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cad section {
  background-color: #ffe9fa;
  padding: 20px;
  border-radius: 10px;
  width: 950px;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.cad section form {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.cad h2{
  font-size: 34px;
  margin-bottom: 50px;
}

.cad h3 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Formulário */
.formul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cad input {
  font-size: 16px;
  padding: 5px 10px;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.addItem {
  font-size: 20px;
  height: 45px;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 50px;
  background-color: #64004b;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
}

button.addItem:hover {
  background-color: #64004b;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px 5px #000000;
  color: #a5a5a5;
  cursor: pointer;
}

/* Tabela */
.table-wrapper {
  width: 100%;
}

table.display_table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

table.display_table thead th, td {
  padding: 10px 12px;
  border: 1px solid #dddddd6c;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

table.display_table thead {
  background-color: #a5a5a58f;
}

.item-btn {
  width: 100%;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dltitem-btn button{
  font-size: 14px;
  text-align: center;
  width: 30px;
  height: 25px;   
  margin-bottom: 40px;
}

/* Página de vendas */

.prelect_cliente {
  margin-top: 20px;
  background-color: #ffffffa9;
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 8px;
}

/* Ações */
.edit-btn,
.delete-btn {
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 2px;
}

.edit-btn {
  background-color: #f0ad4e;
}

.delete-btn {
  background-color: #d9534f;
}

.alert-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107;
  color: #000;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  z-index: 9999;
  font-weight: bold;
  display: none; /* Começa escondido */
}

.alert-box.show {
  display: block;
  animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; display: none; }
}